@{

    var RunningJobs = ViewData["RunningJobs"] as Dictionary<string, string>;

    string alertTemplate =
        @"<div class=""alert {0} alert-dismissible fade show"" role=""alert"">" +
        //@"  <div class=""container"">" +
        @"  {1}" +
        //@"  </div>" +
        @"  <button type=""button"" class=""btn btn-close"" data-dismiss=""alert"" aria-label=""Close"">" +
        @"  </button>" +
        @"</div>";

    var alertBuilder = new System.Text.StringBuilder();
    if (RunningJobs == null || RunningJobs.Count == 0)
    {
        alertBuilder.AppendLine(
            string.Format(
                alertTemplate,
                "alert-info",
                @"<div class=""row"">" +
                @"<div class=""col-12 text-center"">There are no running jobs</div>" +
                @"</div>")
        );
    }
    else
    {
        var jobNames = RunningJobs.Keys.ToList();
        for (int i = 0; i < jobNames.Count; i++)
        {
            alertBuilder.AppendLine(
                string.Format(
                    alertTemplate,
                    "alert-primary",
                    @"<div class=""row"">" +
                    $"<div class=\"col-md-4\" style=\"text-align: right;\">Job #{(i + 1).ToString("00")}</div>" +
                    $"<div class=\"col-md-4 text-center\">&nbsp;-&nbsp;</div>" +
                    $"<div class=\"col-md-4\" style=\"text-align: left;\">{jobNames[i]}</div>" +
                    @"</div>")
            );
        }
    }
}

@Html.Raw(alertBuilder.ToString())

<script>
    $(document).ready(function() {

        $('div.alert').alert().on('click', function() {
            $('div.alert').alert('close');
        });
    });
</script>