<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="DatabaseMaskingProvider" value="DatabaseMasking.osandfreesql, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<Parameter name="ConnectionString" value="Server=127.0.0.1;Port=43594;Database=TicTacToeDb;User Id=&quot;TicTacToeUser&quot;;Password=&quot;TicTacToePassword&quot;;" />
	</TestRunParameters>
</RunSettings>